<body>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<h4 class="upcoming-title">Upcoming Movie</h4>
<br>
<div class="flux-container">
    <div class="flux-box">
        <div class="upcoming-img-box">
            <a href="@Url.Action("MovieDetails", "Home")"><img src="./Images/avatar.jpg" width="300" height="200"></a>
        </div>
            <div class="buttons">
                <h6>5.5K Likes <img src="./Images/like.png" width="20" height="20" /></h6>
            </div>
               <div class="movie-info">
                <h6><b>&nbsp&nbspAvatar</b></h6>
               </div>
        
                 <div class="movie-infos">
                <h6>&nbsp&nbspAction/Adventure</h6>
                </div>
    </div>

    <div class="flux-box">
        <div class="upcoming-img-box">
            <a href="@Url.Action("MovieDetails", "Home")"><img src="./Images/gold.jpg" width="300" height="200"></a>
         
        </div>
            <div class="buttons">
                <h6>3K Likes <img src="./Images/like.png" width="20" height="20" /></h6>
            </div>
         
        
            <div class="movie-info">
                <h6><b>&nbsp&nbspGold</b></h6>
            </div>
           <div class="movie-infos">
                <h6>&nbsp&nbspComedy/Romance</h6>
           </div>
    </div>
    <div class="flux-box">
        <div class="upcoming-img-box">
            <a href="@Url.Action("MovieDetails", "Home")"><img src="./Images/jaya.jpg" width="300" height="200"></a>
           
        </div>
            <div class="buttons">
                <h6>2K Likes <img src="./Images/like.png" width="20" height="20" /></h6>
            </div>
        <div class="movie-info">
                <h6><b>&nbsp&nbspJaya jaya jaya jaya hai</b></h6>
        </div>
        <div class="movie-infos">
                <h6>&nbsp&nbspComedy/Romance</h6>
        </div>
        
    </div>
        <div class="flux-box">
            <div class="upcoming-img-box">
                <a href="@Url.Action("MovieDetails", "Home")"><img src="./Images/ps1.jpg" width="300" height="200"></a>

            </div>
            <div class="buttons">
                <h6>4K Likes <img src="./Images/like.png" width="20" height="20" /></h6>
            </div>
            <div class="movie-info">
                <h6><b>&nbsp&nbspPS 1</b></h6>
            </div>
            <div class="movie-infos">
                <h6>&nbsp&nbspAction/Thriller</h6>
            </div>
        </div>
</div>
<h4 class="upcoming-title">Recommended Movies</h4>
<br>
    <div class="flux-container">
        <div class="flux-box">
            <div class="upcoming-img-box">
                <a href="@Url.Action("MovieDetails", "Home")"><img src="./Images/kumari.jpg" width="300" height="200"></a>
            </div>
            <div class="buttons">
                <h6> 9/10 <img src="./Images/star.png" width="20" height="20" /></h6>
            </div>

            <div class="movie-info">
                <h6><b>&nbsp&nbspKumari</b></h6>
            </div>

            <div class="movie-infos">
                <h6>&nbsp&nbspThriller/Horror</h6>
            </div>

        </div>

        <div class="flux-box">
            <div class="upcoming-img-box">
                <a href="@Url.Action("MovieDetails", "Home")"><img src="./Images/monster.jpg" width="300" height="200"></a>
            </div>
            <div class="buttons">
                <h6>5.5/10 <img src="./Images/star.png" width="20" height="20" /></h6>
            </div>
            <!-- <p class="upcoming-title">Upcoming Movie</p> -->

            <div class="movie-info">
                <h6><b>&nbsp&nbspMonster</b></h6>
            </div>
            <div class="movie-infos">
                <h6>&nbsp&nbspAction/Romance</h6>
            </div>
        </div>
        <div class="flux-box">
            <div class="upcoming-img-box">
                <a href="@Url.Action("MovieDetails", "Home")"><img src="./Images/salute.jpg" width="300" height="200"></a>

            </div>
            <div class="buttons">
                <h6>7.7/10 <img src="./Images/star.png" width="20" height="20" /></h6>
            </div>
            <div class="movie-info">
                <h6><b>&nbsp&nbspJaya jaya jaya jaya hai</b></h6>
            </div>
            <div class="movie-infos">
                <h6>&nbsp&nbspCrime/Thriller</h6>
            </div>
        </div>
        <div class="flux-box">
            <div class="upcoming-img-box">
                <a href="@Url.Action("MovieDetails", "Home")"><img src="./Images/rorshach.jpg" width="300" height="200"></a>

            </div>
            <div class="buttons">
                <h6>8.5/10<img src="./Images/star.png" width="20" height="20" /></h6>
            </div>
            <div class="movie-info">
                <h6><b>&nbsp&nbspRorschach</b></h6>
            </div>
            <div class="movie-infos">
                <h6>&nbsp&nbspHorror/Thriller</h6>
            </div>
        </div>
</div>
</body>